.home-container {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}

/* Estrellas */
.stars,
.stars2,
.stars3 {
  position: absolute;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 0 0 white;
  animation: moveStars 100s linear infinite;
}

.stars {
  box-shadow: 
    100px 200px #fff,
    300px 400px #fff,
    600px 150px #fff,
    800px 600px #fff,
    1200px 300px #fff;
}

.stars2 {
  width: 2px;
  height: 2px;
  animation-duration: 150s;
  box-shadow: 
    200px 100px #fff,
    500px 300px #fff,
    700px 700px #fff,
    1000px 400px #fff;
}

.stars3 {
  width: 3px;
  height: 3px;
  animation-duration: 200s;
  box-shadow: 
    150px 500px #fff,
    450px 250px #fff,
    900px 100px #fff;
}

@keyframes moveStars {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-2000px);
  }
}
